body {
  background: black;
  color: white;
  font-style: oblique;
}

i {
  background: grey;
  padding: 3px;
  border-radius: 10px;
}

#contact-head {
  background-color: black;
  padding-bottom: 40px;
}