body {
  background: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
  opacity: 0.8;
}

i {
  color: grey;
  padding: 3px;
  border-radius: 10px;
}

#contact-head {
  background-color: black;
  padding-bottom: 40px;
}

.align-self-end {
  font-size: 24px;
}

label {
  color: black;
  font-size: 20px;
}

#wood-p {
  height: 500px;
  overflow: scroll;
}

.img-fluid {
  border-radius: 30px;
}

#intro {
  background: url(img/guitarshadow.jpg);
  background-size: 75%;
  background-repeat: no-repeat;
}

.text-danger {
  text-shadow: 1px 1px 1px #fff;
}